{# templates/base/choice_parameter.twig #}
{# Extend base at the caller for correct rendering. #}
{% block head %}

{% endblock %}

{% block main %}
    <div class="form-group">
        <h5>
            {{ label }}
        </h5>

        <div class="btn-group btn-block btn-group-vertical" data-toggle="buttons">
            {% for option in options %}
                {% if not loop.first %}
                    </br>
                {% endif %}
                {% if option == value %}
                    <label class="btn btn-primary active">
                        <input type="radio" id="{{ option }}">{{ option }}
                    </label>
                {% else %}
                    <label class="btn btn-primary">
                        <input type="radio" id="{{ option }}">{{ option }}
                    </label>
                {% endif %}
            {% endfor %}
        </div>

        <input type="hidden" name="{{ varName }}" value="{{ value }}">
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('.btn-group .btn').on('click',function(){
            $("input[name='{{ varName }}']").val($(this).text().trim());
        });
    </script>
{% endblock %}