{# templates/base/dropdown_parameter.twig #}
{# Extend base at the caller for correct rendering. #}
{% block head %}
    <link rel="stylesheet" href="css/dropdown_parameter.css">
{% endblock %}

{% block main %}
    <div class="form-group">
        <h5>
            {{ label }}
        </h5>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button"
                    data-toggle="dropdown">
                {{ title }}
                <span class="caret">
                </span>
            </button>
            <ul class="dropdown-menu" id="{{ varName }}">
                {% for option in options %}
                    <li>
                        <a data-value="{{ option }}">
                            {{ option }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <input type="hidden" name="{{ varName }}">
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function(){
            //Listen for a click on any of the dropdown items
            $("{{ varName }}").click(function(){
                //Get the value
                var value = $(this).attr("data-value");
                //Put the retrieved value into the hidden input
                $("input[name='{{ varName }}']").val(value);
                alert(value);
            });
        });
    </script>
{% endblock %}