{# templates/chan_num_parameter.twig #}


<div class="chan-num-param">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ title }}</h3>
        </div>
        <div class="panel-body">
            <div class="container">
                {% for ch in 0..chanCnt-1 %}
                    <div class="row">
                        <div class="col-sm-1">
                            <label for="inputCh-{{ ch }}" class="control-label">Ch {{ ch }}</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control"
                                   id="{{ name }}-ch-{{ ch }}"
                                   placeholder="valueCh-{{ ch }}">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


