{# templates/chan_num_parameter.twig #}
{# Extend base at the caller for correct rendering. #}
{% block head %}
    <link rel="stylesheet" href="css/chan_dropdown_parameter.css">
{% endblock %}

{# Add a panel with a title and a heading. #}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ title }}
        </h3>
    </div>
    <div class="panel-body">
        {# Use 'container' so that bootstrap knows how to render on different screen sizes. #}
        <div class="container">
            {# From the bootstrap docs: use 'form-horizontal' for aligned labels and entry fields. #}
            <form class="form-horizontal">
                {% for ch in 0..chanCnt-1 %}
                    <div class="form-group">
                        <label for="inputCh-{{ ch }}"
                               class="col-md-1 col-sm-1 control-label">
                            Ch {{ ch }}
                        </label>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                {{ title }}
                                <span class="caret">
                                </span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for option in options %}
                                    <li>{{ option }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
</div>
