{% import 'base/confidence_levels.twig' as level %}

{% set type   = level.toPanelType(confidence) %}
{% set footer = level.toFooterText(confidence) %}


{% block main %}
    {# Add a panel with a title and a heading.
     Remove spaces around 'type'. #}
    <div class="panel panel-{{type|replace({'\n':''})|replace({' ':''})}}">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ title }}
            </h3>
        </div>
        <div class="panel-body">
            {# From the bootstrap docs: use 'form-horizontal' for aligned labels and entry fields. #}
            <div class="form-horizontal">
                <div class="col-md-1 col-sm-1">
                    {% for option in options %}
                        {% if loop.first %}
                            <label>
                                <input type="radio" name="{{ varName }}" checked="true" value="{{ values[loop.index - 1] }}">{{ option }} [{{ values[loop.index - 1] }}]
                            </label>
                        {% else %}
                            </br>
                            <label>
                                <input type="radio" name="{{ varName }}" value="{{ values[loop.index - 1] }}">{{ option }} [{{ values[loop.index - 1] }}]
                            </label>
                        {% endif %}
                    {% endfor %}

                    <div class="radio">
                        <label>
                            <input type="radio" name="{{ varName }}" value="">Other
                        </label>
                        <input type="number" class="form-control" id="{{ varName }}"
                               placeholder="1" min="1" max="1.5"
                               step="0.01">
                    </div>
                </div>
            </div>
        </div>

        {% if footer is defined %}
            <div class="panel-footer panel-custom">
                <p>{{ footer }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}